<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chain Code Extraction</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap" rel="stylesheet">
</head>
<body class="text-lg bg-gray-900 font-Poppins">
    <nav class="flex w-full flex-wrap items-center justify-between bg-gray-900 text-gray-500 py-3 shadow-lg mb-10 sticky top-0">
        <!-- Tambahkan bagian navigasi jika diperlukan -->
    </nav>

    <section>
        <h2 class="text-center lg:text-7xl md:text-6xl sm:text-5xl text-4xl font-medium py-16 mx-10 mb-12 bg-black bg-opacity-10 text-white rounded-xl">
            Chain Code Extraction
        </h2>

        <form action="{{ url_for('chaincode') }}" enctype="multipart/form-data" method="POST" class="mx-10">
            <div>
                <label for="img" class="mb-2 inline-block text-white text-xl">Input Image</label>
                <div class="flex">
                    <input name="img" id="img" type="file" class="m-0 block w-full min-w-0 flex-auto cursor-pointer rounded-lg bg-clip-padding py-[0.32rem] font-normal leading-[2.15] bg-gray-200 text-black transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:cursor-pointer file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600">
                    <input type="submit" class="inline-flex items-center justify-center px-10 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-stone-700 border-stone-800 rounded-md shadow-[0_4px_9px_-4px_#a8a29e] hover:bg-stone-800 ml-4 hover:shadow-[0_8px_9px_-4px_#a8a29e,0_4px_18px_0_#a8a29e]">
                </div>
            </div>
        </form>
    </section>

    <section class="mt-20 mx-10">
        <div class="flex justify-center">
            <div class="mr-10">
                {% if img %}
                <h4 class="text-center font-medium text-2xl text-white mb-6">Original Image</h4>
                <img src="{{ img }}" alt="Original Image" class="w-[500px]" id="original-img">
                {% endif %}
            </div>

            <div>
                {% if chain_code %}
                <h4 class="text-center font-medium text-2xl text-white mb-6">Chain Code</h4>
                <p class="text-white">{{ chain_code }}</p>
                <p class="text-white">Jumlah hasil chain code: {{ chain_code|length }}</p>
                {% endif %}
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>
</html>
